<div class="widget-header">
	<div class="row">
		<div class="col-md-4"> <p><em>There is no data!</em></p> </div>
		<div class="col-md-4"> </div>
		<div class="col-md-4" align="right">
			<a href='/@Title/New' class="btn btn-outline-secondary" role="button"><i class="fa fa-plus"></i> New</a>
		</div>
	</div>
	<hr />
</div>

@code {
	[Parameter]
	public string Title { get; set; }
}
